---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import OffersSection from "../components/OffersSection.astro";
import MembershipSection from "../components/MembershipSection.astro";
import ContactSection from "../components/ContactSection.astro";
import ImpactStrip from "../components/ImpactStrip.astro";
import FAQSection from "../components/FAQSection.astro";

---

<BaseLayout>
  <div class="page-root home-page">
  <div class="page-root">
    <Hero />
	<ImpactStrip />

    <main>
      <AboutSection />
      <OffersSection />
      <MembershipSection />
	  <FAQSection />
      <ContactSection />
    </main>

  </div>
</BaseLayout>
